@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8c5c5;
    --foreground: #040404;
  }
} 
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.8s ease-out forwards;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}
.nav-link {
  @apply text-sm font-medium text-gray-700 hover:text-red-600 transition relative;
}

.btn-primary {
  @apply px-4 py-2 rounded-lg bg-red-600 text-white text-sm
         hover:bg-red-700 transition shadow;
}

.btn-outline {
  @apply px-4 py-2 rounded-lg border border-red-600 text-red-600
         hover:bg-red-50 transition;
}

.btn-danger {
  @apply px-4 py-2 rounded-lg bg-gray-800 text-white
         hover:bg-black transition;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
.blood-cell {
  position: absolute;
  bottom: -100px;
  width: 14px;
  height: 14px;
  background: rgba(229, 57, 53, 0.35);
  border-radius: 50%;
  filter: blur(0.5px);
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Dark mode */
.dark .blood-cell {
  background: rgba(255, 90, 90, 0.4);
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(0.8);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) scale(1.2);
    opacity: 0;
  }
}
.emergency .blood-cell {
  animation-duration: 10s;
  background: rgba(255, 0, 0, 0.6);
}
