@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebcccc;
    --foreground: #000000;
  }
} 
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.8s ease-out forwards;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}
.nav-link {
  @apply text-sm font-medium text-gray-700 hover:text-red-600 transition relative;
}

.btn-primary {
  @apply px-4 py-2 rounded-lg bg-red-600 text-white text-sm
         hover:bg-red-700 transition shadow;
}

.btn-outline {
  @apply px-4 py-2 rounded-lg border border-red-600 text-red-600
         hover:bg-red-50 transition;
}

.btn-danger {
  @apply px-4 py-2 rounded-lg bg-gray-800 text-white
         hover:bg-black transition;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
